.table-row {
    border-top: 1px solid #bbb;
}

table {
    width: 100%;
}

.linkout {

}

.uppedat {

}

.doneat {

}

.uplink {
    padding: 4px 0px;
}

span.direction {
    font-size: 80%;
    border: 1px solid #ddd;
    margin-left: 10px;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    color: #ddd;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}